{{!-- TODO add action to touchstart and touchmove on the whole wheel and then do
http://stackoverflow.com/questions/3918842/how-to-find-out-the-actual-event-target-of-touchmove-javascript-event
http://stackoverflow.com/questions/4780837/is-there-an-equivalent-to-e-pagex-position-for-touchstart-event-as-there-is-fo
--}}
<div class="wheel" data-id={{wheel.id}}>
  <button
    class="forward {{if wheel.isMovingForward "btn-primary"}}"
  {{!--   {{action changeSpeed 'forward' on='touchMove'}}
    {{action changeSpeed 'forward' on='touchStart'}} --}}
  >
    F ({{wheel.speed}})
  </button>
  <button
    class="stopped {{if wheel.isWheelStopped "btn-primary"}}"
    {{!-- {{action changeSpeed 'stopped' on='touchMove'}}
    {{action changeSpeed 'stopped' on='touchStart'}} --}}
  >
    S
  </button>
  <button
    class="back {{if wheel.isMovingBack "btn-primary"}}"
    {{!-- {{action changeSpeed 'back' on='touchMove'}}
    {{action changeSpeed 'back' on='touchStart'}} --}}
  >
    B ({{wheel.speed}})
  </button>
</div>
